<!DOCTYPE html>
<html>
@using BabysFirstCalendar.DatabaseBusinessLogic

<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Baby's First Calendar</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @*If the user is logged in, it will just return the view for the logged in person*@
    @if (Request.IsAuthenticated)
    {
        <div class="container">
            <div style="float:left;">
                <div class="logo">
                    <a href="@Url.Action("Index","Home")">
                        <img src="../Logo.png" alt="Baby's First Calendar Logo" height="150" width="150" />
                    </a>
                Baby's First Calendar
                </div>
            </div>

            <div style="float:right;">
                Welcome, @RetrievalProcessor.RetrieveName()!<br />
                @Html.ActionLink("My Account", "Edit", "Account", null, new { @class = "nav-links" })
                <span> | </span>
                @Html.ActionLink("Sign Out", "Logout", "Account", null, new { @class = "nav-links" })

            </div>
        </div>


    }
    @*Otherwise, it will show the user to log in or sign up*@
    else
    {
        <div class="container">
            <div style="float:left;">
                <div class="logo">
                    <a href="@Url.Action("Index","Home")">
                        <img src="../Logo.png" alt="Baby's First Calendar Logo" width="150" height="150" />
                    </a>
                    Baby's First Calendar
                </div>
            </div>

            @*Begin log in form, floating on the right side of the page*@
            <div style="float:right;">

                @Html.ActionLink("Register", "Signup", "Account", null, new { @class = "nav-links" })
                <span> | </span>
                @Html.ActionLink("Sign In", "Login", "Account", null, new { @class = "nav-links" })
            
             </div>
                        
        </div>
        
    }

<div class="container body-content">
    
    @RenderBody()
    
    <hr />

    @*Footer div class for Contact Us and copyright info*@
    <div class="footer">
        @Html.ActionLink("Contact Us", "Contact", "Home", null, new { @class = "nav-links" })
        <span>|</span>
        @Html.ActionLink("About Us", "About", "Home", null, new { @class = "nav-links" })
        <p>&copy; @DateTime.Now.Year - Baby's First Calendar</p>
    </div>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", false)
</body>
</html>
